html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
    color: inherit;
    outline: none;
}
* {
    box-sizing: border-box;
}
button {
    outline: none;
    border: 0;
    background: none;
    padding: 0;
}
hr {
    border: none;
}

body {
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: default;
}

html {
    font-size: 10px;
}


/****** HEADER ******/

.jar h1 {
    margin-left: 50%;
    text-align: center;
}

/***** FONTS *****/
h1, h2, h3, h4, h5 {
    font-family: 'Amatica SC', cursive;
    font-weight: 700;
    text-transform: uppercase;
}
h1 {
    font-size: 12rem;
    line-height: 1;
}
h2 {
    font-size: 32px;
    line-height: 1;
}
h3 {
    font-size: 2.0rem;
    line-height: 1;
    display: block;
    position: relative;
    margin: auto!important;
}
h4 {
    font-size: 1.8rem;
    line-height: 1;
}
p {
    font-family: 'slabo 27px',serif;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 3rem;
    margin-bottom: 40px;
}
body, html {
    width: 100%;
    overflow-x: hidden;
}
.how-it-works {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    height: auto;
}
#hiw .how-it-works-container {
    display: block;
    position: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 0 auto;
}
ol, ul {
    font-size: 1.8rem;
    line-height: 3rem;
    margin-bottom: 3rem;
    color: #000;
    list-style: disc;
    width: 80%;
    margin: 5rem auto;
}
@media all and (max-width:670px) {
    ol, ul {
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin: 2.5rem auto;
    }
}
figure {
    overflow: hidden;
    width: 100%;
    height: auto;
}
figure img {
    width: auto;
    height: auto;
    max-width: 100%;
}
figure img.desktop {
    display: inline;
}
figure img.mobile {
    display: none;
}
@media all and (max-width:670px) {
    figure img.desktop {
        display: none;
    }
    figure img.mobile {
        display: inline;
    }
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-text-fill-color: #434343 !important;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

/* Jat Hero Div styling  */
#jar-hero {
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column; 
}

#jar-hero video { 
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
     background: url("/assets/images/LandingPageHero.jpg")
     no-repeat;
     background-size: cover;
      opacity: .5;
   }
   
#navigation {
    font-family: 'Amatica SC', cursive;
    font-size: 3rem;
    color: #434343;
    outline-style: solid;
    outline-color: #d6d9a6;
}

#flex-div { 
    display: flex; 
    align-content: center; 
    align-items: center; 
    flex-direction: column; 
}
#flex-div #hero-text { 
    width: 100%;
    display: flex; 
    align-self: center;
}

#flex-div #hero-text h2{ 
    font-family: 'Open-Sans';
    width: 100%;
    font-size: 3rem;
    color: #434343;
    position: relative;
}
#flex-div #hero-text img {
    width: 75%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


}
@media (max-width:1200px) {
    #jar-hero h1 {
        font-size: 15rem;
    }
}
@media (max-width:750px) {
    #jar-hero h1 {
        font-size: 9rem;
        bottom: auto;
        top: 40px;
    }
}

.jar-hero #hero-nav {
    display: flex;
    justify-content: space-around;
    max-width: 75%;
    width: 100%;
    align-self: center;
    position: relative; 
    /* align-content: center;  */
    margin-bottom: 30px; 
}

.btn {
    font-family: 'Amatica SC'; 
}
#bt {
    background-color: #FFF387;
    margin: 0px 85px;
    font-size: 30px;
    }


@media (max-width:750px) {
    #jar-hero h3 {
        top: 150px;
        left: auto;
        transform: none;
        right: 20px;
        text-align: right;
    }
}
/* Styling for the how it works div background containing "3-steps" content  */
.how-it-works {
    background: #fff;
    color: #353535;
    margin: 0;
    padding: 0 0 0 15px;
    width: 100%; 
}
#hiw{ 
    background: #fff; 
}


#step1 h2{ 
    background: #fff; 
    margin: 0; 
    padding-left: 15px; 
}
@media all and (max-width:1024px) {
    #step1 + #step2 + #step3 {
        padding: 60px 0;
    }
}
#hiw .how-it-works-container .how-it-works .flex-contain {
    display: flex;
    width: auto; 
    height: auto;
    max-width: 100%;
    background: #fff; 
}
@media all and (max-width:1024px) {
    #step1 + #step2 + #step3 .flex-contain {
        /* display: block; */
    }
}
#step1 + #step2 + #step3 .img-content and #step1 + #step2 + #step3 .txt-content {
    max-width: 100%;
}
@media all and (max-width:1024px) {
    #step1 + #step2 + #step3 .img-content and #step1 + #step2 + #step3 .txt-content {
        display: block;
     
    }
}
@media all and (max-width:1024px) {
    #step1 + #step2 + #step3 .img-content {
        text-align: center;

    }
}
#step1 + #step2 + #step3 .img-content img {
   
    width: 100%; 
}

#step1 + #step2 + #step3 .txt-content {
    vertical-align: middle;
}

/* conditional styling for mobile/ smaller scrreen responsive */
@media all and (max-width:1024px) {
    #step1 + #step2 + #step3 .txt-content {
        padding-left: 0;
        padding-top: 40px;
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Text styling for body content */
.txt-content h3 {
    font-family: 'Amatica SC', cursive;
    font-size: 35px;
}
.txt-content p {
    font-family: 'Josefin Slab', serif;
}
#step1 + #step2 + #step3 .txt-content h4 {
    margin-bottom: 5px;
}
#step1 + #step2 + #step3 .txt-content h2 {
    margin-bottom: 30px;
}
#step1 + #step2 + #step3 .flex-contain__link {
    font-family: 'Oswald','Times',serif;
    font-weight: 900;
    font-size: 2.2rem;
    line-height: 1;
    color: #FFF;
    text-transform: uppercase;
}
#step1 + #step2 + #step3 .flex-contain__link:hover {
    text-decoration: none;
    color: #FFF;
}

/* Google Map Location API Styling  */


#diw #google-maps-container .how-it-works .flex-contain #map {
    height: 700px;
    max-width: 500px; 
    position: absolute; 
    z-index:1; 
    
  }

#diw #google-maps-container .how-it-works{ 
    height: 700px;
    max-width: 500px; 
    position: absolute; 
    background: #cc5; 
  }

#diw #google-maps-container .how-it-works .flex-contain #floating-panel { 
    position: absolute; top: 10px; left: 25%; z-index: 3; background-color: #fff; padding: 5px; border: 1px solid #999; text-align: center; font-family: 'Roboto','sans-serif'; line-height: 30px; padding-left: 10px; }


/*---------- Header Navigation Styling------ */
.main-nav {
    background-color: #fff;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff; 
    border-style: solid;
    border-width: 2px;
    border-color: #d6d9a6; 
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    align-content: center;
}
#learn{
    font-family: 'Josefin Slab', serif;
    color: #FF878D;
}
.main-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none!important;
    flex-direction: row;
    justify-content: flex-end;
}
.main-nav a {
    margin: 10px;
    padding: 10px;
    display: block;
}
.logo {
    max-width: 130px;
    margin-right: auto;
    size: 35px;
}
.logo img {
    max-width: 100%;
}
header {
    background-color: transparent;
    padding: 0;
    margin: 0;
}




/* fixed div named 'Footer' Styling */
#footer {
    height: auto;
    display: inline-block;
    position: absolute; 
    display: flex; 
    justify-content: flex-end; 
    align-items: flex-end; 
    width: 100%; 
    max-width: 100%; 
}
#foot-form{ 
    display: flex; 
    justify-content: space-between;  
    align-items: center; 
    flex-flow: row nowrap;
}


/****************Button****************/

#learn {
    background-color: #FF878D;
    border-color: #FFB6C1;
    }

#learn a {
    color: #fff;
}

/**************** FORM ****************/
/*
.form-content .form-group .form-group mx-sm-3 {
float: right;
}*/



.form-content h2 {
    font-family: 'Amatica SC', cursive;
    font-size: 40px;
}

.form-content h5 {
    font-family: 'Josefin Slab', serif;
    font-size: 15px;
}

.form-content p {
    font-family: 'Josefin Slab', serif;
}

.form-group {
    font-family: 'Amatica SC', cursive;
    display: block;
}

.form-control-static {
    font-family: 'Josefin Slab', serif;
}

#confirm {
    font-family: 'Amatica SC', cursive;
}

#type {
    font-size: 25px;
}

.form-group, #confirm {
    display: flex;
    justify-content: flex-start;
    width: 450px;
}

.all {
    z-index: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: space-between;
}

.form-content {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
}

#form-img {
    text-align: left;
}




/****** form text ******/
.join {
    max-width: 400px;
    text-align: left;
    font-size: 30px;
}

#form-desc {
    text-align: left;
}


.realparent, #foot-form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#footer {
    position: absolute;
    z-index: -2;
}

footer {
    margin-top: 160px;
    display: flex !important;
    flex-direction: row;
}

.nothing, .form-content {
    flex: 1;
}
